<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
  </head>

  <body>
    <div id="chart"></div>

    <h3>Setting</h3>
    <div>
      <label>RSI</label>
      <div>
        <input type="checkbox" />
        <input type="number" id="rsi" name="rsi" placeholder="14" />
        Overbought
        <input
          type="number"
          id="rsi_over_bought"
          name="rsi_over_bought"
          placeholder="70"
        />
        Oversold
        <input
          type="number"
          id="rsi_over_sold"
          name="rsi_over_sold"
          placeholder="30"
        />
      </div>
    </div>
    <script src="{{url_for('static', filename='chart.js')}}"></script>
  </body>
</html>
